# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.in
*.IN

*.pdf
*.PDF

/.metadata/
/org.eclipse.*/
/4 Classes/E1/nbproject/private/
/4 Classes/E1/build/
/4 Classes/E1/dist/
/4 Classes/E2/nbproject/private/
/4 Classes/E2/build/
/4 Classes/E3/nbproject/private/
/4 Classes/E3/build/
/4 Classes/E4/nbproject/private/
/4 Classes/E4/build/
/4 Classes/E5/nbproject/private/
/4 Classes/E5/build/
/4 Classes/E6/nbproject/private/
/4 Classes/E6/build/
/4 Classes/E7/nbproject/private/
/4 Classes/E7/build/
/4 Classes/E8/nbproject/private/
/4 Classes/E8/build/
/4 Classes/E9/nbproject/private/
/4 Classes/E9/build/
/4 Classes/E10/nbproject/private/
/4 Classes/E10/build/
/4 Classes/A1/nbproject/private/
/4 Classes/A1/build/
/4 Classes/A2/nbproject/private/
/4 Classes/A2/build/
/4 Classes/A3/nbproject/private/
/4 Classes/A3/build/
/4 Classes/A4/nbproject/private/
/4 Classes/A4/build/
/4 Classes/A5/nbproject/private/
/4 Classes/A5/build/
/5 OOP/OOP1/nbproject/private/
/5 OOP/OOP1/build/
/5 OOP/OOP2/nbproject/private/
/5 OOP/OOP2/build/
/5 OOP/OOP3/nbproject/private/
/5 OOP/OOP3/build/
/5 OOP/OOP4/nbproject/private/
/5 OOP/OOP4/build/
/5 OOP/OOP5a/nbproject/private/
/5 OOP/OOP5a/build/
/5 OOP/1HomeLib/nbproject/private/
/6 Tasks/Task1/nbproject/private/
/6 Tasks/Task1/build/
/6 Tasks/Task1/dist/
